* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: min(100%, 1200px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    font-size: min(1rem, 2vw); /*learn avout it*/
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: min(100%, 1200px);
    border: 1px solid black;
}

